.card-cadastro{
    border-radius: 30px;
    height: 850px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.5px 1.5px 0.8px rgba(0, 0, 0, 0.8);
}

#cadastro-formulario{
    margin-top: 105px;
    height: 100px;
    width: 650px;
}

input{
    width: 100%;
    margin-bottom: 25px;
    height: 45px;
    box-shadow: 1px 0.35px 5px 0.15px rgba(113, 113, 113, 0.8);
    border-style: none;
    border-radius: 10px;

}