main{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}

.oq-localisus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.oq-localisus h2{
    font-size: 62.5px;
    text-align: center;
    width: 950px;
}

.oq-localisus p {
    width: 650px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
}

span{
    color: #1352ff;
}

.resposta-localisus h4{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #1352ff;
    font-size: 23px;
}