.barra-lateral button{
    cursor: pointer;
    background-color: #c5ddff;
    border-style: none;
    height: 55px;
    width: 55px;
}

.barra-lateral {
    top: 0px;
    left: 0px;
}

.barra-lateral.aberta{
    cursor: pointer;
    background-color: blueviolet;
    width: 25%;
    height: 100vh;
    z-index: 1;
}

