.dashboard-grid{
    display: flex;
}

.alertas-importantes{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 500px;    
}

.area-visualizacao-mapa{
    background-color: white;
    border-radius: 10px;
    height: 600px;
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-exportar-funcionario{
    height: 35px;
    width: 100px;
}

.cards-alertas-importantes{
    background-color: #ffc1c1ee;
    border-radius: 10px;
    width: 450px;
}