:root{
    --cor-branca: #ffffff;
    --cor-azul-bebe: #EBF9FF;
    --cor-preta: #000000;
    --cor-azul-primaria: #1F285D;
    --cor-azul-secundaria: #00c2f2;
}

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
}

.cabecalho{
    background-color: var(--cor-azul-primaria);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cabecalho  img{
    justify-content: center;
    width: 800px;
    padding: 30px; 
}

.letreiro {
    color: var(--cor-azul-bebe);
    font-size: 40px;
    margin-top: 20px;

}