:root {
    --borda-cards: 0px 2px 2px 0.5px rgb(132, 132, 132);
}


.conteudo-pagina {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pos-cabecalho {
    align-self: flex-start;
    margin-left: 10rem;
    margin-bottom: 2rem;
}

.info-hospital{
    display: flex;
    justify-content: center;
}

.cards-info-hospital{
    background-color: white;
    box-shadow: var(--borda-cards);
    border-radius: 10px;
    margin-left: 12px;
    padding: 2rem;
    height: 8rem;
    width: 26rem;
}

.cards-info-hospital p{
    color: #575757;
}