:root {
    --fundo-hero: #e9f9ff;
    --letras-azul: #07044B;
    --letras-branco: #ffff;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--fundo-hero);
    color: var(--letras-azul);
}

.conteudo-home {
    text-decoration: none;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-pagina h1{
    font-size: 75px;
}

.info-pagina h1,
.info-pagina h3 {
    display: flex;
    justify-content: center;
}



.info-pagina {
    flex-direction: column;
}

.info-pagina a{
    font-weight: 900;
    text-decoration: none;
}

.info-pagina button {
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
}

.navbar {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: var(--letras-azul);
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
}


#botao-conhecer {
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: larger;
    margin: auto;
    border-style: none;
    border-color: var(--letras-branco);
    height: 60px;
    background-color: var(--letras-azul);
    color: var(--letras-branco);
    border-radius: 150px;
    cursor: pointer;
    width: 250px;
}


#botao-conhecer:hover {
    animation: botaoAnimacao;
    animation-duration: 4s;
    border-style: solid;
    height: 60px;
    background-color: var(--letras-branco);
    border-radius: 150px;
    cursor: pointer;
    width: 250px;
}

@keyframes botaoAnimacao {
    100% {border-color: var(--letras-azul);}
    100% {color: var(--letras-azul)}
    50% {border-color: var(--letras-azul);}
    50% {color: var(--letras-azul)}
}