.conteudo-pagina{
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pos-cabecalho{
    align-self: flex-start;
    margin-left: 10rem;
    margin-bottom: 2rem;
}


.cards-usuario-comum-centro{ 
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 1px rgb(132, 132, 132);
    border-radius: 15px;
    padding: 15px;
    margin-left: 30px;
    height: 180px;
    width: 300px;
}

.componentes-abaixo-pesquisa p{
    color: #07044B;
    font-weight: 50;
}   


.pesquisa-elementos{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 16rem;
    min-width: 80rem;
}

.cartao-busca{
    background: linear-gradient(45deg, rgb(0, 72, 255), rgb(195, 233, 255) );
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 15px;
    min-width: 65rem;
    flex-direction: column;
}

.cartao-busca:hover{
    background: linear-gradient(195deg, rgb(195, 233, 255),  rgb(0, 72, 255));
}

.cartao-busca h2{
    font-weight: 600;
}

.pesquisa-elementos h2,
.pesquisa-elementos h4{
    color: white;   
}

#mais-buscados{
    margin-top: -15px;
    font-weight: 400;
    color: white;
}


.pesquisa-elementos h4{
    font-weight:220;
}


.componentes-abaixo-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 2rem;
}


.componentes-abaixo-pesquisa h1{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.componentes-abaixo-pesquisa p{
    padding: 10px;
    font-size: 14px;
}


.cabecalho-nav{
    background-color: #f6fafd;
    height: 30px;
    position: relative;
    display: flex;
    float: right;
}

#saudacao-user{
    font-weight: 250;
}

#sugestao-user{
    font-weight: 50;
}


.componentes-cotidiano{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.elementos-card-usuario-comum-cotidiano{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 1px rgb(132, 132, 132);
    display: flex;
    padding: 30px;
    justify-content: center;
    width: 300px;
    margin-left: 3rem;
}