@import url('https://googleapis.com'); 

:root {
    --fundo-hero: #ffffff;
    --letras-azul: #07044B;
    --letras-branco: #ffff;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inter', sans-serif;
}